.header1 {
    display: flex;
    flex: 0 0 content;
    justify-content: center;
}

.body1 {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background: #EEEFF1;
    /*размер подгонятеся по 100%*/
}

.footer1 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav1 {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: flex-end;
}

.section1 {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
}

.div1 {
    flex: 0 0 50vh;
    height: 10vh;
}

#text1 {
    /*Селектор по идентификатору, работа с текстом*/
    margin: 25px;
    font-family: 'Jost', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 8ch;
}

#text2 {
    /*Селектор по идентификатору, работа с текстом*/
    margin: 11px;
    font-family: 'Jost', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 3ch;
}

/*Псевдокласс подчеркивать ссылки меню */
nav .menu:hover {
    text-decoration: underline;
}

/* Цвет ссылок */
a:link {
    color: #34547A;
}

/* Цвет посещенных ссылок*/
a:visited {
    color: #0000d0;
}

/* Цвет активной ссылки */
a:active {
    color: #f00;
}

/*Подсветка кнопки при наведении*/
.buttonChangeColor {
    text-decoration: none;
    background: #34547A;
    color: #FFFFFF;
}

input.buttonChangeColor:hover {
    color: #FF4500;
    text-shadow: 0 0 1px #FF4500;
}